absl-py==2.1.0
amqp==5.2.0
asgiref==3.7.2
astunparse==1.6.3
attrs==23.2.0
autobahn==23.6.2
Automat==22.10.0
billiard==4.2.0
celery==5.3.6
certifi==2025.1.31
cffi==1.16.0
charset-normalizer==3.4.1
click==8.1.7
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
constantly==23.10.4
cryptography==42.0.5
Django==4.1.13
django-enumfield==3.1
djangorestframework==3.14.0
djongo==1.3.6
dnspython==2.6.1
flatbuffers==25.2.10
gast==0.6.0
google-pasta==0.2.0
grpcio==1.71.0
gunicorn==21.2.0
h11==0.14.0
h5py==3.13.0
hyperlink==21.0.0
idna==3.6
incremental==22.10.0
joblib==1.3.2
keras==3.9.0
kombu==5.3.5
libclang==18.1.1
loguru==0.7.2
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mdurl==0.1.2
ml_dtypes==0.5.1
namex==0.0.8
numpy==1.26.4
opt_einsum==3.4.0
optree==0.14.1
packaging==23.2
prompt-toolkit==3.0.43
protobuf==5.29.3
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycparser==2.21
Pygments==2.19.1
PyJWT==2.8.0
pymongo==3.12.3
pyOpenSSL==24.1.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.1
requests==2.32.3
rich==13.9.4
scikit-learn==1.6.1
scipy==1.12.0
service-identity==24.1.0
six==1.16.0
sqlparse==0.2.4
tensorboard==2.19.0
tensorboard-data-server==0.7.2
tensorflow==2.19.0
tensorflow-io-gcs-filesystem==0.37.1
termcolor==2.5.0
threadpoolctl==3.6.0
Twisted==24.3.0
txaio==23.1.1
typing_extensions==4.10.0
tzdata==2024.1
urllib3==2.3.0
uvicorn==0.28.0
vine==5.1.0
wcwidth==0.2.13
Werkzeug==3.1.3
wrapt==1.17.2
zope.interface==6.2
